<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="logo-wrapper">
    <a routerLink='/'>
      <img class="logo" src="assets/images/Logo.png">
    </a>
  </div>
  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    <span>Navigation</span>
    <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
      <i class="far fa-compass"></i>
    </a>
  </h6>
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/"><i class="far fa-home"></i> Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" routerLink="/admin"><i class="far fa-user-cog"></i> Admin</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/aboutus">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contactus">Contact</a>
      </li> -->
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Apps</span>
      <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
        <i class="fab fa-app-store"></i>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="far fa-umbrella"></i> Wetter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="far fa-calendar"></i> Kalender</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="far fa-running"></i> Aktivitäten</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/accounting" ><i class="far fa-calculator"></i> Ein- & Ausgaben</a>
      </li>
    </ul>
  </div>
</nav>